<ion-view view-title="О сервисе">
  <ion-content>
    <div class="card">
	  <div class="item item-text-wrap">
	  	<p>Рестораны Сумы - приложение, справочник по всем ресторанам, кафе и барам города Сумы.</p><br>
	  	<p>Мы предлагаем владельцам и посетителям размещать данные о ресторанах у нас в сервисе.</p><br>
	  	<p>У нас вы найдете подробную информацию о заведении, его меню, фото блюд, их описание, место расположение.</p><br>
	  	<p>В дальнейшем ,Вы сможете заказать блюда прямо из приложения.</p><br>
	  	<p>Мы приглашаем владельцев и представителей ресторана принять участие в нашем проекте!</p><br>
	  	<p>Для уточнения деталей сотрудничества звоните по тел. : 050 9804578 или пишите на Email : yocarlostony@gmail.com</p><br>
	  </div>
	</div>
  </ion-content>
</ion-view>
