<ion-view view-title="Главная" align-title="center">
    <ion-content style="background-image:url(img/content.jpg); background-size: cover">
     <a href="#/app/restorans">
        <div class="card">
            <div class="item item-text-wrap main">
                Рестораны
            </div>
        </div>
    </a>
    <a href="#/app/cafe">
        <div class="card">
            <div class="item item-text-wrap main">
                Кафе
            </div>
        </div>
    </a>
    <a href="#/app/nightclub">
        <div class="card">
            <div class="item item-text-wrap main">
                Ночные клубы
            </div>
        </div>
    </a>
    <a href="#/app/restwithchildren">
        <div class="card">
            <div class="item item-text-wrap main">
                Отдых с детьми
            </div>
        </div>
    </a>
    <a href="#/app/entertainmentcenter">
        <div class="card">
            <div class="item item-text-wrap main">
                Развлекательные центры
            </div>
        </div>
    </a>
    </ion-content>
</ion-view>
