<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <button class="button button-icon icon ion-person-add"></button>
        <div class="h1 title">Регистрация</div>
        <button class="button button-icon icon ion-close-circled" ng-click="closeRegister()"></button>
    </ion-header-bar>
    <ion-content>
        <form name="registerForm" ng-submit="doRegister()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Имя*</span>
                    <input type="text" placeholder="Введите имя" name="userName" ng-model="register.name" ng-pattern="/[A-Za-zА-Яа-яЁё]+$/" required>
                    <span style="color:red" ng-show="registerForm.userName.$dirty && registerForm.userName.$invalid">
                    <span ng-show="registerForm.userName.$error.pattern">Имя не должно содержать только цифры!</span>
                    </span>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email*</span>
                    <input type="email" placeholder="example@mail.com" name="email" ng-model="register.email" ng-pattern="/[a-z0-9!.,#$%&'*+-/=?^_`{|}~]+@[a-z]+\.[a-z.]{2,}$/" required>
                    <span style="color:red" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                    <span ng-show="registerForm.email.$touched && registerForm.email.$error.pattern">Введите корректный почтовый ящик!</span>
                    </span>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Телефон*</span>
                    <input type="number" placeholder="Телефон в международном формате" name="phone" ng-model="register.phone">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Адрес</span>
                    <input type="text" placeholder="Введите домашний адрес" ng-model="register.address">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Пароль*</span >
                <input type="{{inputRegisterP}}" placeholder="Введите пароль" name="password" ng-model="register.password" style="width: 90%;" ng-minlength="6" ng-change="registerComparingPasswords()" required>
                <span class="error" ng-show="registerForm.password.$error.minlength">
        Пароль не менее 6 символов.</span>
                </label>
                <a ng-click="hideShowPasswordRegister(); eyeOpenRP=true" ng-show="!eyeOpenRP" class="button button-clear icon ion-eye-disabled" style="position: absolute; top: 71%; left: 85%; z-index: 2"></a>
                <a ng-click="hideShowPasswordRegister(); eyeOpenRP=false" ng-show="eyeOpenRP" class="button button-clear icon ion-eye button-positive" style="position: absolute; top: 71%; left: 85%; z-index: 2"></a>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Подтвердить пароль*</span>
                    <input type="{{inputRegisterC}}" placeholder="Подтвердите пароль" name="confirmPassword" ng-model="register.confirmPassword" style="width: 90%;" ng-change="registerComparingPasswords()" required>
                    <span class="error" ng-show="notEqual" style="color:red">
        Пароли не совпадают!</span>
                </label>
                <a ng-click="hideShowPasswordRegisterConfirm(); eyeOpenRC=true" ng-show="!eyeOpenRC" class="button button-clear icon ion-eye-disabled" style="position: absolute; top: 88%; left: 85%; z-index: 2"></a>
                <a ng-click="hideShowPasswordRegisterConfirm(); eyeOpenRC=false" ng-show="eyeOpenRC" class="button button-clear icon ion-eye button-positive" style="position: absolute; top: 88%; left: 85%; z-index: 2"></a>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit" ng-disabled="registerForm.userName.$pristine || registerForm.userName.$error.pattern || registerForm.email.$error.required || registerForm.email.$invalid || registerForm.email.$error.pattern || registerForm.email.$pristine || registerForm.phone.$pristine || registerForm.password.$pristine || registerForm.password.$error.minlength || registerForm.confirmPassword.$pristine || notEqual">Зарегистрироваться</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
